{% extends 'baseAdmin.html.twig' %}

{% block title %}Création Sponsor{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">Créer un Sponsor</h1>
            <div class="card">
                <div class="card-body">
                    {{ include('sponsor/_form.html.twig') }}
                </div>
            </div>
            <div class="mt-4">
                <a href="{{ path('app_sponsor_index') }}" class="btn btn-secondary">Retourner à la liste des sponsors</a>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
